USE [master]
GO
/****** Object:  Database [Baza]    Script Date: 2/5/2025 2:52:09 PM ******/
CREATE DATABASE [Baza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Baza', FILENAME = N'C:\Users\js185771\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Baza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Baza_log', FILENAME = N'C:\Users\js185771\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Baza.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baza]
GO
/****** Object:  Table [dbo].[Grupa]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupa](
	[GrupaID] [int] NOT NULL,
	[NazivGrupa] [varchar](50) NULL,
	[Termin] [varchar](50) NULL,
	[Kurs] [int] NULL,
	[Nastavnik] [int] NOT NULL,
 CONSTRAINT [PK__Grupa__510B91FB98CEFF3C] PRIMARY KEY CLUSTERED 
(
	[GrupaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jezik]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jezik](
	[JezikID] [int] NOT NULL,
	[JezikNaziv] [varchar](50) NULL,
 CONSTRAINT [PK__Jezik__E9261E294EB139C4] PRIMARY KEY CLUSTERED 
(
	[JezikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kurs]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kurs](
	[KursID] [int] NOT NULL,
	[Cena] [float] NULL,
	[NazivKursa] [varchar](50) NULL,
	[Nastavnik] [int] NULL,
	[Jezik] [int] NULL,
	[Nivo] [int] NULL,
 CONSTRAINT [PK__Kurs__BCCFFF3B92E57903] PRIMARY KEY CLUSTERED 
(
	[KursID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nastavnik]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nastavnik](
	[NastavnikID] [int] NOT NULL,
	[Ime] [varchar](10) NULL,
	[Prezime] [varchar](10) NULL,
	[Pol] [int] NULL,
	[Plata] [float] NULL,
	[Telefon] [int] NULL,
	[Username] [varchar](10) NULL,
	[Password] [varchar](10) NULL,
 CONSTRAINT [PK__Nastavni__261E3B21E12B43B0] PRIMARY KEY CLUSTERED 
(
	[NastavnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NastavnikJezik]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NastavnikJezik](
	[Nastavnik] [int] NOT NULL,
	[Jezik] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nastavnik] ASC,
	[Jezik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivo]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivo](
	[NivoID] [int] NOT NULL,
	[NivoNaziv] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polaznik]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polaznik](
	[PolaznikID] [int] NOT NULL,
	[Ime] [varchar](50) NULL,
	[Prezime] [varchar](50) NULL,
	[JMBG] [varchar](50) NULL,
	[Telefon] [varchar](50) NULL,
	[Pol] [varchar](50) NULL,
 CONSTRAINT [PK__Polaznik__00F37F4F2582CC7B] PRIMARY KEY CLUSTERED 
(
	[PolaznikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 2/5/2025 2:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[TestID] [int] NOT NULL,
	[DatumPolaganjaTesta] [datetime2](7) NULL,
	[RezultatTesta] [int] NULL,
	[Polaznik] [int] NULL,
	[Grupa] [int] NULL,
 CONSTRAINT [PK__Test__8CC33100BF9FFA68] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grupa]  WITH CHECK ADD  CONSTRAINT [FK_Grupa_Kurs] FOREIGN KEY([Kurs])
REFERENCES [dbo].[Kurs] ([KursID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Grupa] CHECK CONSTRAINT [FK_Grupa_Kurs]
GO
ALTER TABLE [dbo].[Kurs]  WITH CHECK ADD  CONSTRAINT [FK_Kurs_Jezik] FOREIGN KEY([Jezik])
REFERENCES [dbo].[Jezik] ([JezikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kurs] CHECK CONSTRAINT [FK_Kurs_Jezik]
GO
ALTER TABLE [dbo].[Kurs]  WITH CHECK ADD  CONSTRAINT [FK_Kurs_Nastavnik] FOREIGN KEY([Nastavnik])
REFERENCES [dbo].[Nastavnik] ([NastavnikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kurs] CHECK CONSTRAINT [FK_Kurs_Nastavnik]
GO
ALTER TABLE [dbo].[Kurs]  WITH CHECK ADD  CONSTRAINT [FK_Kurs_Nivo] FOREIGN KEY([Nivo])
REFERENCES [dbo].[Nivo] ([NivoID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kurs] CHECK CONSTRAINT [FK_Kurs_Nivo]
GO
ALTER TABLE [dbo].[NastavnikJezik]  WITH CHECK ADD  CONSTRAINT [FK_NastavnikJezik_Jezik] FOREIGN KEY([Jezik])
REFERENCES [dbo].[Jezik] ([JezikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NastavnikJezik] CHECK CONSTRAINT [FK_NastavnikJezik_Jezik]
GO
ALTER TABLE [dbo].[NastavnikJezik]  WITH CHECK ADD  CONSTRAINT [FK_NastavnikJezik_Nastavnik] FOREIGN KEY([Nastavnik])
REFERENCES [dbo].[Nastavnik] ([NastavnikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NastavnikJezik] CHECK CONSTRAINT [FK_NastavnikJezik_Nastavnik]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Grupa] FOREIGN KEY([Grupa])
REFERENCES [dbo].[Grupa] ([GrupaID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_Grupa]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Polaznik] FOREIGN KEY([Polaznik])
REFERENCES [dbo].[Polaznik] ([PolaznikID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_Polaznik]
GO
USE [master]
GO
